body{
 background-image: url('beirut.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color:burlywood;
    text-align:center;
    font-size:60px;
    font-family: 'Sofia', sans-serif;
    margin-bottom: 0%;
    font-weight: bolder;
  
  }
  .warp{
    margin: auto;
    background: rgb(245, 245, 245,0.3);
    color: #000;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.502);
    min-height:500px;
    width:100%;
    max-width:500px;
    border-radius:3px;
    overflow:hidden;
    text-align: center;
  }
  p{
    margin:5%;
  }
      
  
  label{
    font-family: 'Sofia', sans-serif;
    margin-right: 4%%;
    width: 200px;
    display: inline-block;
    padding: 10px;
  }
  span{
    width: 200px;
    display: inline-block;
    color:rgb(126, 69, 22);

    
  }
